.home_container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #070707;
  height: 100%;
  width: 100%;
}

.video_background {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
